{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subjects</a></li>
      <li class="breadcrumb-item"><a href="{% url 'topic_list' topic.subject.pk %}">{{ topic.subject.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ topic }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
   <div class="row">
    <div class="col-sm-12">

        <a href="{% url 'create_question' topic.subject.pk topic.pk %}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-plus-circle"> Add Question</i></a>
    </div>
    </div>
    <br>

{% for question in questions %}
    <div class="row">

    <div class="col-sm-10">
    <strong>
        <i class="fa fa-question-circle"></i>
    </strong>

        {{ question.question }}
      <button type="button" data-toggle="collapse" data-target="#{{ question.pk }}"><i class="fa fa-angle-double-down"></i></button>
  <div id="{{ question.pk }}" class="collapse">

   {% for item  in question.answers.all %}
    {{ item.answer|linebreaks }} <a href="{% url 'answer_update' question.topic.subject.pk question.topic.pk question.pk item.pk%}"><i class="fa fa-edit" style="font-size: 18px"></i></a>
    {% endfor %}
  </div>


    </div>
{% if user.is_authenticated %}
 <div class="col-sm-2">

     <a href="{% url 'question_edit' question.topic.subject.pk question.topic.pk question.pk %}"><i class="fa fa-edit" style="font-size: 18px"></i></a>
        <a href="{% url 'question_delete' question.topic.subject.pk question.topic.pk question.pk %}"><i class="fa fa-trash-o" style="font-size: 18px"></i> </a>
 </div>
    {% endif %}
</div>
  <hr>
    {% endfor %}


    <div class="pagination" style="padding-left: 30%">
    {% include 'includes/pagination.html' %}
    </div>


{% endblock %}

{% block javascript %}

<script src="{% static 'js/question_bank.js' %}"></script>
{% endblock %}